<mat-nav-list>
    <a mat-list-item
       routerLink="/">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
    </a>
    <a mat-list-item
       routerLink="/shannon">
        <mat-icon matListItemIcon>donut_large</mat-icon>
        <span matListItemTitle>Shannon</span>
    </a>
    <a mat-list-item
       routerLink="/shannon-fano">
        <mat-icon matListItemIcon>donut_small</mat-icon>
        <span matListItemTitle>Shannon-Fano</span>
    </a>
    <a mat-list-item
       routerLink="/aritmetic">
        <mat-icon matListItemIcon>code</mat-icon>
        <span matListItemTitle>Arytmetyczne</span>
    </a>
</mat-nav-list>