<mat-nav-list>
    <mat-list-item routerLink="/">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
    </mat-list-item>
    <mat-list-item routerLink="/shannon-fano">
        <mat-icon matListItemIcon>donut_small</mat-icon>
        <span matListItemTitle>Shannon-Fano</span>
    </mat-list-item>
    <mat-list-item routerLink="/aritmetic">
        <mat-icon matListItemIcon>code</mat-icon>
        <span matListItemTitle>Arytmetyczne</span>
    </mat-list-item>
</mat-nav-list>
