<div class="details row">
    <div class="col-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Kodowanie znaków</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row details__char-coding">
                    <div *ngFor="let node of details.result"
                         class="col-md-6">
                        <p>
                            {{node.symbol === ' ' ? 'Odstęp' : node.symbol === '\n' ?'Nowa linia' : node.symbol}}
                            -
                            {{node.code}}
                        </p>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Średnia długość słowa kodowego</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{details.L | number:'0.0-5'}}
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Sprawność</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{details.n | number:'0.0-5'}}
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Rozwlekłość</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{details.rozwleklosc | number:'0.0-5'}}
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Efektywność kodu</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{details.codeEfficienty | number:'0.0-5'}}
            </mat-card-content>
        </mat-card>
    </div>
</div>
