<div class="my-4 common-details">
    <div class="row">
        <div class="col-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Prawdopodobieństwo wystąpienia poszczególnych znaków</mat-card-title>
                </mat-card-header>
                <mat-card-content class="chart-counter">
                    <ngx-charts-pie-chart [results]="probabilityOfCharsData"
                                          [gradient]="true"
                                          [legend]="true"
                                          [legendPosition]="legendPosition.Right"
                                          [labels]="true"
                                          [doughnut]="false"
                                          [trimLabels]="true"
                                          [legendTitle]="'Legenda'">
                        <ng-template #tooltipTemplate
                                     let-model="model">
                            <div class="py-2">
                                {{model.name}}
                            </div>
                        </ng-template>
                    </ngx-charts-pie-chart>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Entropia</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{result.entropia | number:'0.0-5'}}
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Czas wykonywania</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{!!result.time ? result.time : '< 1'}}
                      ms
                      </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>