<mat-card>
    <mat-card-content>
        <form [formGroup]="form">
            <div class="row">
                <mat-form-field class="col-12">
                    <mat-label>Tekst do zakodowania</mat-label>
                    <textarea matInput
                              formControlName="value"
                              placeholder="np. abbcdd"
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="5"
                              cdkAutosizeMaxRows="10">
                    </textarea>
                    <mat-error>
                        <ti-error-message [control]="form.controls.value"></ti-error-message>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <div align="end">
            <ti-spinner-button (clicked)="encode()"
                               [isLoading]="isEncoding">
                Zakoduj
            </ti-spinner-button>
        </div>
    </mat-card-content>
</mat-card>
