$primary-50: #eee9f7;
$primary-100: #d5c8eb;
$primary-200: #b9a3de;
$primary-300: #9e7ed1;
$primary-400: #8961c6;
$primary: #7445bc;
$primary-600: #6b40b6;
$primary-700: #5e38ac;
$primary-800: #5332a4;
$primary-900: #422695;

$accent-50: #f2e6f2;
$accent-100: #dec0df;
$accent-200: #ca98ca;
$accent-300: #b471b5;
$accent-400: #a455a5;
$accent: #943d95;
$accent-600: #88398f;
$accent-700: #773286;
$accent-800: #682d7c;
$accent-900: #4e246a;
