<div class="my-4">
    <ti-coding-form (encoded)="onEncoded($event)"
                    [isEncoding]="!!(isEncoding$ | async)">
    </ti-coding-form>
    <ng-container *ngIf="result$ | async as result">
        <ti-common-details [result]="result">
        </ti-common-details>
        <ti-shannons-common-details [nodes]="result.result"
                                    [L]="result.L"
                                    [n]="result.n"
                                    [rozwleklosc]="result.rozwleklosc"
                                    [codeEfficienty]="result.codeEfficienty">
        </ti-shannons-common-details>
    </ng-container>
</div>